@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("ttf"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato-Black"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("ttf"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato-Light"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("ttf"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: 'Lato'; }

.header, .portfolio::after {
  background-color: #303441; }
  .header::after, .portfolio::after {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #373b4a;
    content: ''; }

.nav {
  margin: 0;
  padding: 10px 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  border-color: #303441;
  background-color: #303441; }
  .nav .logo {
    padding: 25px 15px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase; }
    .nav .logo::after {
      color: #ca4549;
      font-weight: 700;
      content: '*'; }
    .nav .logo:hover, .nav .logo:visited {
      color: #fff; }
  .nav .nav__toggleButton {
    margin: 18px 15px;
    border-color: #fff; }
    .nav .nav__toggleButton .nav__toggleButton_burger {
      background-color: #fff; }
    .nav .nav__toggleButton:hover, .nav .nav__toggleButton:focus {
      background-color: #ca4549; }
  .nav .nav__list {
    text-align: center; }
    .nav .nav__list .nav__link {
      position: relative;
      -webkit-transition: color 250ms ease-in-out;
      transition: color 250ms ease-in-out;
      color: #f2f2f2;
      font-weight: 700;
      text-transform: uppercase; }
      .nav .nav__list .nav__link::before {
        position: absolute;
        left: -2px;
        color: #494e62;
        content: '\00b7'; }
      .nav .nav__list .nav__link_first::before {
        content: ''; }
      .nav .nav__list .nav__link:hover, .nav .nav__list .nav__link:focus, .nav .nav__list .nav__link:active {
        color: #ca4549; }

@media (max-width: 768px) {
  .nav__list .nav__link {
    display: inline-block;
    padding: 20px; }
    .nav__list .nav__link::before {
      display: none; } }

.slider {
  background-color: #eb5055; }
  .slider .carousel-control.left,
  .slider .carousel-control.right {
    background-image: none; }
  .slider .carousel-indicators {
    display: none; }
  .slider__control_prev {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 18px;
    width: 18px;
    height: 30px;
    margin-top: -15px;
    background-image: url("../img/icons/slider-control.png"); }
  .slider__control_next {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 18px;
    width: 18px;
    height: 30px;
    margin-top: -15px;
    background-image: url("../img/icons/slider-control.png");
    background-position: 18px 0; }

.services__header, .portfolio__header {
  margin-top: 70px;
  color: #666d89;
  font-size: 30px;
  font-weight: 900; }

.services__subHeader, .portfolio__subHeader {
  margin-top: 35px;
  margin-bottom: 47px;
  color: #767e9e;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px; }

.card {
  margin-bottom: 40px; }
  .card__ico {
    width: 58px;
    height: 58px;
    border: 2px solid #666d89;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .card__ico_pen, .card__ico_bulb, .card__ico_heart, .card__ico_phone, .card__ico_tip, .card__ico_star {
      background-image: url("../img/icons/service-icons.svg");
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 10px; }
    .card__ico_bulb {
      background-position-x: -51px; }
    .card__ico_heart {
      background-position-x: -122px; }
    .card__ico_phone {
      background-position-x: -183px; }
    .card__ico_tip {
      background-position-x: -253px; }
    .card__ico_star {
      background-position-x: -320px; }
  .card__header {
    margin-top: 0;
    margin-bottom: 17px;
    color: #666d89;
    font-size: 18px;
    font-weight: 900;
    line-height: 16px; }
  .card__description {
    margin: 0;
    color: #767e9e;
    font-size: 12px;
    line-height: 22px; }

.portfolio {
  background-color: #303441; }
  .portfolio::after {
    margin-top: 47px; }
  .portfolio__header {
    margin-top: 59px; }
  .portfolio__subHeader {
    margin-top: 18px; }
  .portfolio__gallery {
    padding-right: 10px;
    padding-bottom: 20px; }
