$header-bg: #303441;
$header-bottom: #373b4a;
$dot: #494e62;
$white: #fff;
$bg-white: #f2f2f2;
$letter-contrast: #eb5055;
$red-control: #ca4549;
$slider-bottom: #ea676b;
$heading-color: #666d89;
$text-color: #767e9e;
